body {
    background-color: #bbecf3;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

h1 {
    background-color: tomato;
    border-width: 3px;
    width: 50%;
    border-style: solid;
    border-color: black;
    text-align: center;
    color: #000000;
    border-radius: 6px;
}

#box-3 {
    border: 2px solid;
    border-color: rgb(68, 74, 131);
    color: rgb(7, 7, 7);
}